@model RestaurantsApplication.Models.ViewModels.CreateOrderForRestaurantViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Restaurant Details</h2>
<dl>
    <dt>@Html.DisplayNameFor(x => x.Restaurant.Name)</dt>
    <dd>@Html.DisplayFor(x => x.Restaurant.Name)</dd>
    
    <dt>@Html.DisplayNameFor(x => x.Restaurant.Address)</dt>
    <dt>@Html.DisplayFor(x => x.Restaurant.Address)</dt>
</dl>


<h2>Create Order</h2>

<form asp-action="Create" method="post">
    @* <div class="form-control"> *@
    @*     <label asp-for="@Model.Order.FullName"></label> *@
    @*     <input asp-for="@Model.Order.FullName"/> *@
    @* </div> *@
    @* *@
    @* <div class="form-control"> *@
    @*     <label asp-for="@Model.Order.PhoneNumber"></label> *@
    @*     <input asp-for="@Model.Order.PhoneNumber"/> *@
    @* </div> *@
    
    <input type="hidden" asp-for="@Model.Order.RestaurantId"/>
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>
